:root {
  --color-primary: #fff476;
  --color-primary-light: #ffff82;
  --color-primary-dark: #c3ff63;
  --color-grey-light-1: #fcfcb3;
  --color-grey-light-2: #fdf6cd;
  --color-grey-light-3: #f6fbd4;
  --color-grey-light-4: #efffda;
  --color-grey-dark-1: #deffa6;
  --color-grey-dark-2: #e4ffc3;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.5);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.hidden {
  opacity: 0;
  transform: translateY(5rem);
  transition: all 2s; }

.show {
  transform: translateY(0);
  opacity: 1; }

.swiper {
  position: relative;
  width: 420px;
  height: 800px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5)); }
  @media only screen and (max-width: 56.25em) {
    .swiper {
      height: 380px;
      width: 170px; } }
  @media only screen and (max-width: 37.5em) {
    .swiper {
      height: 240px;
      width: 120px; } }

.swiper3 {
  position: relative;
  width: 600px;
  height: 800px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5)); }
  @media only screen and (max-width: 56.25em) {
    .swiper3 {
      width: 300px;
      height: 200px; } }
  @media only screen and (max-width: 37.5em) {
    .swiper3 {
      width: 80vw;
      height: 70vh; } }

.swiper2 {
  position: relative;
  width: 80%;
  height: 50%;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5)); }

\\\
.swiper-slide {
  border-radius: 18px; }

.swiper-slide img {
  width: 100%;
  object-fit: cover;
  border-radius: 18px; }

.swiper-2 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide-2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  display: grid;
  grid-template-rows: .5fr auto 1fr 1fr; }

.title-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  font-family: "La Belle Aurore", cursive;
  font-size: 7rem;
  border-radius: 20px;
  color: white;
  z-index: 10;
  position: relative;
  align-items: center; }
  .title-container__blur {
    background-image: url(img/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 130, 0.7);
    background-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px); }
  .title-container--left {
    z-index: 10;
    text-align: center; }
  .title-container--right {
    z-index: 10; }
    .title-container--right p {
      text-align: start; }

.header {
  margin-top: 20rem;
  border-top: 1px black;
  border-top-style: dotted;
  border-bottom: 1px black;
  border-bottom-style: dotted;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
  font-family: "La Belle Aurore", cursive;
  text-align: center; }
  .header__animation {
    width: 50vw;
    height: 50vh; }
  .header__content {
    margin: 5rem; }

.first-section {
  font-family: "La Belle Aurore", cursive;
  font-size: 5rem;
  text-align: center;
  border-bottom: 1px black;
  border-bottom-style: dotted;
  margin-bottom: 10rem; }
  .first-section__title {
    position: relative;
    display: flex;
    justify-content: center; }
    .first-section__title--paper {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 50vw;
      background-image: url(img/paper-title.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      shape-outside: url(img/paper-title.png);
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5)); }
  .first-section__caption--content {
    margin-top: 15rem;
    margin-left: 5rem;
    margin-right: 5rem; }
  .first-section__caption--2--content {
    margin-top: 15rem;
    margin-left: 5rem;
    margin-right: 5rem; }
  .first-section__swiper-container {
    margin-top: 15rem;
    margin-bottom: 15rem; }

.second-section {
  font-family: "La Belle Aurore", cursive;
  font-size: 5rem;
  text-align: center;
  border-bottom: 1px black;
  border-bottom-style: dotted;
  margin-bottom: 10rem;
  overflow: hidden; }
  .second-section__title {
    position: relative;
    display: flex;
    justify-content: center; }
    .second-section__title--paper {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 50vw;
      background-image: url(img/paper-title.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      shape-outside: url(img/paper-title.png);
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5)); }
  .second-section__picture-container {
    margin-top: 15rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .second-section__caption--content {
    margin-top: 15rem;
    margin-left: 10rem;
    margin-right: 10rem; }
  .second-section__swiper-container {
    margin-top: 15rem;
    margin-bottom: 15rem;
    overflow: hidden; }

.third-section {
  font-family: "La Belle Aurore", cursive;
  font-size: 5rem;
  text-align: center;
  border-bottom: 1px black;
  border-bottom-style: dotted;
  margin-bottom: 10rem;
  overflow: hidden; }
  .third-section__title {
    position: relative;
    display: flex;
    justify-content: center; }
    .third-section__title--paper {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 50vw;
      background-image: url(img/paper-title.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      shape-outside: url(img/paper-title.png);
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5)); }
  .third-section__caption--content {
    margin-top: 15rem;
    margin-left: 10rem;
    margin-right: 10rem; }
  .third-section__swiper-container {
    margin-top: 15rem;
    margin-bottom: 15rem;
    display: flex;
    justify-content: center;
    overflow: hidden; }

.fourth-section {
  font-family: "La Belle Aurore", cursive;
  font-size: 5rem;
  text-align: center;
  border-bottom: 1px black;
  border-bottom-style: dotted; }
  .fourth-section__title {
    position: relative;
    display: flex;
    justify-content: center; }
    .fourth-section__title--paper {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 50vw;
      background-image: url(img/paper-title.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      shape-outside: url(img/paper-title.png);
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5)); }
  .fourth-section__swiper-container {
    margin-top: 15rem;
    margin-bottom: 15rem;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden; }
  .fourth-section__caption--content {
    margin-top: 15rem;
    margin-left: 10rem;
    margin-right: 10rem; }
  .fourth-section__letter-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding-top: 10rem; }

.navbar__list {
  list-style: none;
  text-align: center;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1); }

.navbar__item {
  display: inline-block;
  margin: 5rem; }
  .navbar__item a, .navbar__item a:link, .navbar__item a:visited {
    color: black;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    /* The distance between text and underline */
    transition: font-size .2s; }
  .navbar__item a::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, green, yellow);
    /* underline color */
    background-size: 0 2px;
    /* vertical size of underline */
    background-repeat: no-repeat;
    background-position: left bottom;
    /* start position of underline */
    transition: background-size .3s ease-in;
    /* duration and timing style of animation */ }
  .navbar__item a:hover::before {
    background-size: 100% 2px; }
  .navbar__item a:hover {
    font-size: 3rem; }

.card-1 {
  height: 80%;
  width: 25%;
  border-radius: 20px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.7)); }
  @media only screen and (max-width: 56.25em) {
    .card-1 {
      height: 100%;
      width: 60%; } }
  .card-1__picture > img {
    width: 100%;
    height: 100%;
    border-radius: 20px; }

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer; }

#wrapper {
  animation: pulse 1s infinite; }

#pulsingheart {
  position: relative;
  width: 100px;
  height: 90px; }

#pulsingheart:before, #pulsingheart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #aa0000;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite; }

#pulsingheart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: pulsecolor 1s infinite; }

@keyframes pulse {
  10% {
    transform: scale(1.1); } }

@keyframes pulsecolor {
  10% {
    background: #dd0000; } }

.popup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__close:link, .popup__close:visited {
    color: white;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 10rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    font-family: "La Belle Aurore", cursive;
    font-size: 5rem;
    display: contents; }
    .popup__content-header {
      background-image: linear-gradient(to right bottom, #FF3366, #BA265D);
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      color: white;
      padding: 3rem;
      position: relative;
      align-items: center; }
    .popup__content-main-content {
      height: 50%;
      background-color: wheat;
      padding-left: 2rem;
      padding-right: 2rem;
      overflow-y: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
  margin-top: 20rem; }

.img-container {
  position: relative;
  width: 110px; }

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%); }

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused; }

.music-container.play .img-container img {
  animation-play-state: running; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; }

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px; }

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px; }

.action-btn:focus {
  outline: 0; }

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0; }

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%); }

.music-info h4 {
  margin: 0; }

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%; }

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear; }
